:root{
    --main-font-size: 62.5%;
    --font-size:62.5%;
    --white:#F0F2F5;
}

html{
    font-size: var(--main-font-size);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-size: var(--font-size);
}
